
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

* {
	box-sizing: border-box;
}

body {
    background: #f6f5f7;
    background-color:#130f40;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	font-family: 'Montserrat', sans-serif;
    margin-top: 2%;
    margin-bottom: 2%;
}

h1 {
    font-family: 'Montserrat', sans-serif;
	font-weight: bold;
    margin: 0;
    color:#2c3e50;
}

h2 {
	text-align: center;
}

p {
	font-size: 14px;
	font-weight: 100;
	line-height: 20px;
	letter-spacing: 0.5px;
	margin: 20px 0 30px;
}

span {
	font-size: 12px;
}

a {
	color: #333;
	font-size: 14px;
	text-decoration: none;
	margin: 15px 0;
}

button {
	border-radius: 20px;
	border: 1px solid #FF416C;
	background-color: #FF416C;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
}


button:active {
	transform: scale(0.95);
}

button:focus {
	outline: none;
}

button.ghost {
	background-color: transparent;
	border-color: #FFFFFF;
}

form {
	background-color: #FFFFFF;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 50px;
	height: 100%;
    text-align: center;
}

input {
	background-color: #eee;
	border: none;
	padding: 12px 15px;
	margin: 8px 0;
	width: 100%;
}

.year-input{
    background-color: #eee;
}

.language {
	background-color: #eee;
	border: none;
	padding: 12px 15px;
	margin: 8px 0;
    width: 100%;
}

.lang-btn{
    position: relative;
	background:#2c3e50;
    border-color: #2c3e50;
    margin-bottom: 1em;
}

.container {
	background-color: #fff;
	border-radius: 10px;
	position: relative;
	width: 868px;
	max-width: 100%;
    min-height: 500px;
}

.help{
    padding-top: 20px;
    padding-bottom: 20px;
}

.form-container {
	position: absolute;
	top: 0;
	height: 100%;
    transition: all 0.6s ease-in-out;
}

.cnt-spt{
    position: relative;
	background: #2ecc71;
    border-color: #2ecc71;
    margin-bottom: 1.5em;
}