
* {
  box-sizing: border-box;
}

.row_for_trends{
    display: flex;
    width: 100%;
}

.column_half {
  float: left;
  width: 50%;
  padding: 5px;
}

/* Clearfix (clear floats) */
.row_for_trends::after {
  content: "";
  clear: both;
  display: table;
}



