<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>MusicBrain</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="" />
	<meta name="keywords" content="" />
	<link rel="shortcut icon" href="../static/images/mbicon.ico">
	<link rel="stylesheet" type="text/css" href="../static/css/animate.css">
	<link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="../static/css/line-awesome.css">
	<link rel="stylesheet" type="text/css" href="../static/css/line-awesome-font-awesome.min.css">
	<link href="../static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
	<link rel="stylesheet" type="text/css" href="../static/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="../static/css/jquery.mcustomscrollbar.min.css">
	<link rel="stylesheet" type="text/css" href="../static/lib/slick/slick.css">
	<link rel="stylesheet" type="text/css" href="../static/lib/slick/slick-theme.css">
	<link rel="stylesheet" type="text/css" href="../static/css/style.css">
	<link rel="stylesheet" type="text/css" href="../static/css/responsive.css">
	<link rel="stylesheet" type="text/css" href="../static/css/typeahead.css">

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="http://twitter.github.io/typeahead.js/releases/latest/typeahead.jquery.js"></script>
	<script src="http://twitter.github.io/typeahead.js/releases/latest/bloodhound.js"></script>
	<script src="http://twitter.github.io/typeahead.js/releases/latest/typeahead.bundle.min.js"></script>
	<link href="../static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
</head>

<body oncontextmenu="return false;">
	<div class="wrapper">
		<header>
			<div class="container">
				<div class="header-data">
					<div class="logo">
						<a href="/feed" title=""><img src="../../static/images/mblogo.png" alt=""></a>
					</div>
					<!--logo end-->
					<div class="search-bar">
						<form>
							<input type="text" name="search" placeholder="Search...">
							<button type="submit"><i class="la la-search"></i></button>
						</form>
					</div>
					<!--search-bar end-->
					<nav>
						<ul>
							<li>
								<a href="/feed" title="MusicBrain">
									<span><img src="../../static/images/icon1.png" alt=""></span>
									Home
								</a>
							</li>
							<li>
								<a href="/profile/{{username}}" title="">
									<span><img src="../../static/images/icon4.png" alt=""></span>
									Profile
								</a>
							</li>
							<li>
								<a href="/profile/trends" title="">
									<span><img src="../../static/images/trends.png" alt=""></span>
									Insights
								</a>
							</li>
							<li>	
								<a href="#" title="" class="not-box-open">	
									<span><img src="../static/images/icon7.png" alt=""></span>	
									Notification	
								</a>	
								<div class="notification-box noti" id="notification">	
									<div class="nt-title">	
										<h4>Setting</h4>	
										<a href="#" title="">Clear all</a>	
									</div>	
									<div class="nott-list">	
										{% for friend in requested %}	
										<div class="notfication-details">	
											<div class="noty-user-img">	
												<img src="../static/images/resources/ny-img1.png" alt="">	
											</div>	
											<div class="notification-info">	
												<h3><img src="https://api.adorable.io/avatars/50/{{friend}}.png"	
														alt=""><a href="/profile/{{friend}}" title="">{{friend}}</a>	
												</h3>	
												<span><button type="submit" value={{friend}}	
														onclick="accept(value);return false">Accept</button></span>	
											</div>	
											<!--notification-info -->	
										</div>	
										{% endfor %}	
										<div class="view-all-nots">	
											<a href="#" title="">View All Notification</a>	
										</div>	
									</div>	
									<!--nott-list end-->	
								</div>	
								<!--notification-box end-->	
							</li>
							<li>
								<a href="/logout" title="">
									<span><img src="../../static/images/logout.png" alt=""></span>
									Logout
								</a>
							</li>
						</ul>
					</nav>
					<!--nav end-->
					<div class="menu-btn">
						<a href="#" title=""><i class="fa fa-bars"></i></a>
					</div>
					<!--menu-btn end-->
					<div class="user-account">
						<div class="user-info">
							<a href="#" title="">{{username}}</a>
						</div>
						
					</div>
				</div>
				<!--header-data end-->
			</div>
		</header>
		<!--header end-->
		<main>
			<div class="main-section">
				<div class="container">
					<div class="main-section-data">
						<div class="row">
							<div class="col-lg-3 col-md-4 pd-left-none no-pd">
								<div class="main-left-sidebar no-margin">
									<!-- js to refresh activity -->
									<script>
										console.log("Refresh started")
										fetch('https://musicbrain-backend.herokuapp.com/songs/activity', {
											method: "POST",
											headers: {
												"Content-Type": "application/json"
											},
											body: JSON.stringify({
												"username": {{ session['username']| tojson }},
											"token": {{ session['token']| tojson }}
												})
											})
												.then(response => response.json())
												.then(res => {
													console.log(res.count)
												})
												.catch(err => {
													console.log("Request failed. Try Again" + err)
												})
									</script>

									<!-- refresh activity end -->

									<div class="user-data full-width">
										<div class="user-profile">
											<div class="username-dt">
												<div class="usr-pic">
													<img src="https://api.adorable.io/avatars/150/{{username}}.png"
														alt="">
												</div>
											</div>
											<!--username-dt end-->
											<div class="user-specs">
												<h3>{{username}}</h3>
												<span>Listening to music 🎧</span>
											</div>
										</div>
										<!--user-profile end-->
										<ul class="user-fw-status">
											<li>
												<h4><a href="../profile/{{username}}/following" title="">Following</a>
												</h4>
												<span>{{following_count}}</span>
											</li>
											<li>
												<h4><a href="../profile/{{username}}/followers" title="">Followers</a>
												</h4>
												<span>{{followers_count}}</span>
											</li>
											<li>
												<a href="/profile/{{username}}" title="">View Profile</a>
											</li>
										</ul>
									</div>
									<!--user-data end-->
									<!-- <div class="suggestions full-width"> -->
									<div class="tags-sec full-width">
										
										<div class="cp-sec">
											<img src="../static/images/mblogo.png" alt="">
											<p><img src="../static/images/cp.png" alt="">Copyright 2019</p>
										</div>
									</div>
									<!--tags-sec end-->
								</div>
								<!--main-left-sidebar end-->
							</div>
							<div class="col-lg-6 col-md-8 no-pd">
								<div class="main-ws-sec">
									<div class="post-topbar">
										<div class="user-picy">
											<img style="border-radius: 50%;"
												src="https://api.adorable.io/avatars/100/{{username}}.png" alt="">
										</div>
										<div class="post-st">
											<ul>
												<li><a class="post-jb active" href="#" title="">Post a Song</a></li>
											</ul>
										</div>
										<!--post-st end-->
									</div>
									<!--post-topbar end-->
									<div class="posts-section">
										<!-- Feedpage start -->
										{% for post in posts %}

										<div id="post-id-{{post.post_id}}" class="post-bar">
											<div class="post_topbar">
												<div class="usy-dt">
													<img src="https://api.adorable.io/avatars/50/{{post.username}}.png"
														alt="">
													<div class="usy-name">
														<a style="display: block; margin-bottom: 2px; font-size: 20px;" href="/profile/{{post.username}}">{{ post.username }}</a>
														<span><img src="../static/images/clock.png"
																alt="">{{post.timestamp}}</span>
													</div>
												</div>
											</div>
											<div class="job_descp">
												<!-- <h3>{{post.caption}}</h3> -->
												<!-- <ul class="job-dt">
													<li><a href="#" title="">Full Time</a></li>
													<li><span>$30 / hr</span></li>
												</ul> -->

												<iframe style="border-radius: 20px;"
													src="https://open.spotify.com/embed/track/{{post.song_id}}"
													width="100%" height="80" frameborder="0" allowtransparency="true"
													allow="encrypted-media">
												</iframe>
												<p>{{post.caption}}</p>
											</div>
											<div class="job-status-bar">
												<ul class="like-com">
													<li>
														<a href="javascript:void(0)" class="com" id="{{post.post_id}}-like"><i
																class="fas fa-heart" ></i> Like</a>
													</li>
													<script>
														let like_button_{{post.post_id}} = document.getElementById("{{post.post_id}}-like")
														like_button_{{post.post_id}}.addEventListener('click', () => {
															fetch('https://musicbrain-backend.herokuapp.com/posts/like?post_id={{post.post_id}}', {
																method: "PUT"
															})
																.then(response => response.json())
																.then(res => {
																	if (res['status']) {
																		alert(res['message'])
																	}
																	else {
																		alert(res['message'])
																	}
																})
																.catch(err => {
																	alert("Request failed. Try Again" + err)
																})
														})
													</script>
													<li class="com" style="margin-left: 10px;">
														<span>{{post.like_count}}</span>
													</li>

													<li>
														<a id="add-comment-{{post.post_id}}" href="#" class="com"><i
																class="fas fa-comment-alt"></i> Comment
														</a>
													</li>
												</ul>
											</div>

											<!--post-bar end-->
											<template id="comments-template-{{post.post_id}}">
												<div id="comments-section" class="comments-section">
													<div class="comment-sec">
														<ul>
															<li>
																<!--comment-list end-->
																
																		<script>
																			fetch('https://musicbrain-backend.herokuapp.com/comments/all?post_id={{post.post_id}}',{
																				method: 'GET'
																			})
																				.then(response => response.json())
																				.then(res => {
																					if (res['status']) {
																						for (let i = 0; i < res['comments'].length; i++) {
																							$('.comment-sec').append('<div class="comment-list"><div class="bg-img"><img src="../static/images/resources/bg-img2.png"alt=""></div><div class="comment"><h3>' + res['comments'][i].username + '</h3><span><img src="../static/images/clock.png"alt="">' + res['comments'][i].timestamp + '</span><p>' + res['comments'][i].message + '</p></div></div>')
																						}
																					}
																					else {
																						alert(res['message'])
																					}
																				})
																				.catch(err => {
																					alert("Request failed. Try Again" + err)
																				})
																		</script>

																		<!--comment-list end-->
																	
															</li>
														</ul>
													</div>
													<!--comment-sec end-->
													<div class="post-comment">
														<div class="cm_img">
															<img src="https://api.adorable.io/avatars/15/{{username}}.png"
																alt="">
														</div>
														<div class="comment_box">
															<form onsubmit="return false;">
																<input id="new-comment-text" type="text" placeholder="Add a comment">
																<button id="add-comment-button">Send</button>
															</form>
															<script>
																const add_comment_button_{{post.post_id}} =
																	document.getElementById('add-comment-button')
																const comment_{{post.post_id}}= document.getElementById('new-comment-text')

																add_comment_button_{{post.post_id}}.addEventListener('click', () => {
																	var message_{{post.post_id}} = comment_{{post.post_id}}.value
																	fetch('https://musicbrain-backend.herokuapp.com/comments/add',
																		{
																			method: 'POST',
																			headers: {
																				"Content-Type": "application/json"
																			},
																			body: JSON.stringify({
																				"username": {{session['username']|tojson}},
																				"post_id": {{post.post_id}},
																				"message": message_{{post.post_id}},
																			})
																		})
																		.then(response => response.json())
																		.then(res => {
																			if (res['status']) {
																				// alert("Logged in")
																				let date = new Date()
																				$('.comment-sec').append('<div class="comment-list"><div class="bg-img"><img src="../static/images/resources/bg-img2.png"alt=""></div><div class="comment"><h3>' + '{{username}}' + '</h3><span><img src="../static/images/clock.png"alt="">'+date+'</span><p>' + message_{{post.post_id}} + '</p></div></div>')
																				return false;
																			}
																			else {
																				alert(res['message'])
																			}
																		})
																		.catch(err => {
																			alert("Request failed. Try Again")
																		})
																})
															</script>
														</div>
													</div>
													<!--post-comment end-->
												</div>
												<!--comment-section end-->
											</template>
											<script>
												var template_{{post.post_id}} = $("#comments-template-{{post.post_id}}").html();
												var toggle_status_{{post.post_id}} = 1
												$('#add-comment-{{post.post_id}}').click(function () {
													if (toggle_status_{{post.post_id}}) {
														$('#post-id-{{post.post_id}}').append(template_{{post.post_id}})
														toggle_status_{{post.post_id}} = 0
														return false;
													}
													else {
														$('#post-id-{{post.post_id}} > .comments-section').remove()
														toggle_status_{{post.post_id}} = 1
														return false;
													}

												});
											</script>
										</div>

										{% endfor %}
										<!-- Feepage end -->
										<div class="top-profiles">
											<div class="pf-hd">
												<h3>Top Profiles</h3>
												<i class="la la-ellipsis-v"></i>
											</div>
											<div class="profiles-slider">
												{% for friend in friends %}
												<div class="user-profy">
													<img src="https://api.adorable.io/avatars/50/{{friend}}.png" alt="">
													<h3>{{friend}}</h3>
													<span></span>
													<ul>
														<li><a href="#" title="" class="followw">Following</a></li>
													</ul>
													<a href="/profile/{{friend}}" title="">View Profile</a>
												</div>
												{% endfor %}
												<!--user-profy end-->
											</div>
											<!--profiles-slider end-->
										</div>
										<!--top-profiles end-->
										<!-- <div class="post-bar">											comment-section end -->
										<!-- </div> -->
										<!--posty end-->
									</div>
									<!--posts-section end-->
								</div>
								<!--main-ws-sec end-->
							</div>
							<div class="col-lg-3 pd-right-none no-pd">
								<!-- Here recommendations will come -->
								<button type="submit" style="
										position: fixed;
										width: 20%;
										height: 40px;
										margin-top: 40%;
										margin-left: 30px;
										background: #e44d3a;
										color: white;
										border-radius: 5px;"
										onclick="reco();return false">Generate recommendations</button>
								<iframe src="https://open.spotify.com/embed/playlist/{{playlist_id}}" width="25%"
									height="600" frameborder="0" allowtransparency="true" allow="encrypted-media"
									style="position: fixed;"></iframe>
								
							</div>
						</div>
					</div><!-- main-section-data end-->
				</div>
			</div>

		</main>
		<div class="post-popup job_post">
			<div class="post-project">
				<h3>Post a Song</h3>
				<div class="post-project-fields">
					<form action="return false;" onsubmit="return false">
						<div class="row">
							<div id="the-basics" class="col-lg-12">
								<input id="selected-song-id" class="typeahead form-control" type="text"
									style="width: 500px;" placeholder="Start typing a song name ...">
							</div>
							<div class="col-lg-12">
								<textarea name="caption" id="post-caption" placeholder="Caption"></textarea>
							</div>
							<div class="col-lg-12">
								<ul>
									<li><button id="post-song" class="active" value="post">Post</button>
									</li>
								</ul>
							</div>
						</div>
					</form>
				</div>
				<!-- js for post -->
				<script>
					var substringMatcher = function (strs) {
						return function findMatches(q, cb) {
							var matches, substringRegex;

							// an array that will be populated with substring matches
							matches = [];

							// regex used to determine if a string contains the substring `q`
							substrRegex = new RegExp(q, 'i');

							// iterate through the pool of strings and for any string that
							// contains the substring `q`, add it to the `matches` array
							$.each(strs, function (i, str) {
								if (substrRegex.test(str)) {
									matches.push(str);
								}
							});

							cb(matches);
						};
					};
					var songs = new Array();
					var songs_id = new Array();
					fetch('https://musicbrain-backend.herokuapp.com/songs?username=' + {{ session['username']| tojson }}, {
						method: "GET"
					})
						.then(response => response.json())
						.then(res => {
							if (res['status']) {
								var raw_songs = res['songs']
								for (let k = 0; k < raw_songs.length; k++) {
									songs.push(raw_songs[k]['song_name'])
									songs_id.push(raw_songs[k]['song_id'])
								}
								console.log(songs);
							}
							else {
								alert(res['message'])
							}
						})
						.catch(err => {
							alert("Request failed. Try Again" + err)
						})

					$('#the-basics .typeahead').typeahead({
						hint: true,
						highlight: true,
						minLength: 1
					},
						{
							name: 'songs',
							source: substringMatcher(songs)
						});

					const song_name_input = document.getElementById('selected-song-id')
					const post_song_button = document.getElementById('post-song')
					const caption = document.getElementById('post-caption')

					post_song_button.addEventListener('click', () => {
						var song_name = song_name_input.value

						fetch('https://musicbrain-backend.herokuapp.com/posts/new', {
							method: 'POST',
							headers: {
								"Content-Type": "application/json"
							},
							body: JSON.stringify({
								"username": {{ session['username']| tojson }},
							"song_id": songs_id[songs.indexOf(song_name_input.value)],
							"caption": caption.value
							})
						})
							.then(response => response.json())
						.then(res => {
							if (res['status']) {
								// alert("Logged in")
								alert(res['message'])
								return false;
							}
							else {
								alert(res['message'])
							}
						})
						.catch(err => {
							alert("Request failed. Try Again")
						})
					})
				</script>
				<!-- js for post ends -->

				<!--post-project-fields end-->
				<a href="#" title=""><i class="la la-times-circle-o"></i></a>
			</div>
			<!--post-project end-->
		</div>
		<!--post-project-popup end-->
	</div>
	<!--theme-layout end-->
	<!-- <script type="text/javascript" src="../static/js/jquery.min.js"></script> -->
	<script type="text/javascript" src="../static/js/post.js"></script>
	<script type="text/javascript" src="../static/js/popper.js"></script>
	<script type="text/javascript" src="../static/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="../static/js/jquery.mcustomscrollbar.js"></script>
	<script type="text/javascript" src="../static/lib/slick/slick.min.js"></script>
	<script type="text/javascript" src="../static/js/scrollbar.js"></script>
	<script type="text/javascript" src="../static/js/script.js"></script>

	<script>
		function accept(toFriend) {
			fetch('/profile/request-follow', {
				method: 'POST',
				headers: {
					"Content-Type": "application/json"
				},
				body: JSON.stringify({
					"friend": toFriend,
					"endpoint": "accept"
				})
			})
				.then(response => response.json())
				.then(res => {
					if (res['status']) {
						//alert("Logged in")
						window.location.reload()
					}
					else {
						alert(res['message'])
					}
				})
				.catch(err => {
					alert("Request failed. Try Again")
				})
		}

		function reco(){
			// refresh reco
			fetch('https://musicbrain-backend.herokuapp.com/songs/recommend', {
						method: 'POST',
						headers: {
							"Content-Type": "application/json"
						},
						body: JSON.stringify({
							"username": {{ session['username']| tojson }},
							"token": {{ session['token']| tojson }}
						})
					})
						.then(response => response.json())
						.then(res =>{
							if(res['status']){
								alert("Recommendations refreshed. Also a playlist will be created on spotify")
								window.location.reload()
								console.log(res)
							}
						})
						.catch(err => console.log(err))
		}
	</script>


</body>

</html>