<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="../static/images/mbicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MusicBrain</title>
    <link rel="stylesheet" href="../static/css/spotify.css">
</head>

<body>
    <div class="container" id="container">
        <form id="welcomeForm" name="form1" class="help" onsubmit="validateForm();return false">
            <h1>🎵Welcome to MusicBrain🎵</h1>
            <h1 style="color: #9b59b6;">{{username}}!</h1>
            <br>
            Please tell us few more details about you so that we can provide you with better music recommendations
            <h2>Language Preference</h2>
            <div class="language">
                <button id="lang.english" class="lang-btn" onclick="langSelection(id);return false"
                    value="english">English</button>
                <button id="lang.hindi" class="lang-btn" onclick="langSelection(id);return false"
                    value="hindi">Hindi</button>
                <button id="lang.tamil" class="lang-btn" onclick="langSelection(id);return false" value="tamil">Tamil
                </button>
                <button id="lang.telugu" class="lang-btn" onclick="langSelection(id);return false"
                    value="telugu">Telugu</button>
                <button id="lang.malayalam" class="lang-btn" onclick="langSelection(id);return false"
                    value="malayalam">Malayalam</button>
                <button id="lang.kannada" class="lang-btn" onclick="langSelection(id);return false"
                    value="kannada">Kannada</button>
                <button id="lang.punjabi" class="lang-btn" onclick="langSelection(id);return false"
                    value="punjabi">Punjabi</button>
                <button id="lang.other" class="lang-btn" onclick="langSelection(id);return false"
                    value="other">Other</button>
            </div>
            <h2>Music Preference</h2>
            <div class="language">
                <button id="bollywood" class="lang-btn" onclick="langSelection(id);return false"
                    value="bollywood">bollywood</button>
                <button id="edm" class="lang-btn" onclick="langSelection(id);return false" value="edm">edm</button>
                <button id="hip-hop" class="lang-btn" onclick="langSelection(id);return false"
                    value="hip-hop">hip-hop</button>
                <button id="pop" class="lang-btn" onclick="langSelection(id);return false" value="pop">pop</button>
                <button id="rock" class="lang-btn" onclick="langSelection(id);return false" value="rock">rock</button>
                <button id="party" class="lang-btn" onclick="langSelection(id);return false"
                    value="party">Party</button>
                <button id="indie" class="lang-btn" onclick="langSelection(id);return false"
                    value="indie">indie</button>
                <button id="classical" class="lang-btn" onclick="langSelection(id);return false"
                    value="classical">classical</button>
                <button id="romance" class="lang-btn" onclick="langSelection(id);return false"
                    value="romance">romance</button>
            </div>
            <h2>Which year were you born?😊</h2>
            <input name="year-input" class="year-input" id="year-input" type="number" placeholder="yyyy"
                style="text-align: center;" />
            <button type="submit" id="welcome">Submit</button>
            <script>
                let count = {}
                var availableLanguages = ["english", "tamil", "hindi", "malayalam", "kannada", "telugu", "punjabi", "other"];
                var availableGenres = ["hip-hop", "pop", "classical", "edm", 'indie', "bollywood", "rock", "party", "romance"];
                var languageChoice = []
                var genreChoice = []
                function langSelection(btn) {
                    var property = document.getElementById(btn);
                    if (count[btn] == 0) {
                        property.style.backgroundColor = "#2c3e50"
                        property.style.borderColor = "#2c3e50"
                        count[btn] = 1;
                        for (j in genreChoice) {
                            if (btn == genreChoice[j]) {
                                delete genreChoice[j]
                            }
                        }
                        for (i in languageChoice) {
                            if (btn.slice(5) == languageChoice[i]) {
                                delete languageChoice[i]
                            }
                        }
                    }
                    else {
                        property.style.backgroundColor = "#3498db"
                        property.style.borderColor = "#3498db"
                        count[btn] = 0;
                        for (i in availableLanguages) {
                            if (btn.slice(5) == availableLanguages[i]) {
                                languageChoice.push(btn.slice(5))
                            }
                        }
                        for (j in availableGenres) {
                            if (btn == availableGenres[j]) {
                                genreChoice.push(btn)
                            }
                        }
                    }
                    console.log(languageChoice, genreChoice)
                }

                function validateForm() {
                    year = document.forms["form1"]["year-input"].value
                    var cur_year = new Date()
                    cur_year = cur_year.getFullYear();
                    if (year == "" || parseInt(year) < 1900 || parseInt(year) > parseInt(cur_year) - 5) {
                        alert("Invalid year")
                        return false;
                    }
                    else {
                        var finalGenre = []
                        var finalLang = []
                        var flag = 0
                        for (element in languageChoice) {
                            if (element in languageChoice) {
                                finalLang.push(languageChoice[element])
                            }
                        }
                        for (element in genreChoice) {
                            if (element in genreChoice) {
                                finalGenre.push(genreChoice[element])
                            }
                        }
                        console.log(languageChoice, genreChoice)
                        fetch('/welcome', {
                            method: 'POST',
                            headers: {
                                "Content-Type": "application/json"
                            },
                            body: JSON.stringify({
                                "language": finalLang,
                                "endpoint": "language"
                            })
                        })
                            .then(response => response.json())
                            .then(res => {
                                if (res['status']) {
                                    flag += 1
                                    if(flag==3){
                                        window.location.replace('/connect')
                                    }
                                }
                                else {
                                    alert(res['message'])
                                }
                            })
                            .catch(err => {
                                alert("lang Request failed. Try Again")
                            })

                        fetch('/welcome', {
                            method: 'POST',
                            headers: {
                                "Content-Type": "application/json"
                            },
                            body: JSON.stringify({
                                "genre": finalGenre,
                                "endpoint": "genre"
                            })
                        })
                            .then(response => response.json())
                            .then(res => {
                                if (res['status']) {
                                    flag+=1
                                    if(flag==3){
                                        window.location.replace('/connect')
                                    }
                                }
                                else {
                                    alert(res['message'])
                                }
                            })
                            .catch(err => {
                                alert("genre Request failed. Try Again")
                            })
                        console.log(languageChoice, genreChoice)
                        fetch('/welcome', {
                            method: 'POST',
                            headers: {
                                "Content-Type": "application/json"
                            },
                            body: JSON.stringify({
                                "dob": year,
                                "endpoint": "year"
                            })
                        })
                            .then(response => response.json())
                            .then(res => {
                                if (res['status']) {
                                    flag += 1
                                    if(flag==3){
                                        window.location.replace('/connect')
                                    }
                                }
                                else {
                                    alert(res['message'])
                                }
                            })
                            .catch(err => {
                                alert("Year Request failed. Try Again")
                                console.log("flag is",flag,year)
                            })                       
                    }
                }
            </script>
        </form>
    </div>
</body>

</html>